<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
    <header id="header-section">
      <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
      <div class="container">
        <div class="navbar-brand-wrapper d-flex w-100">
          <img src="../../assets/images/Group2.svg" alt="">
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="mdi mdi-menu navbar-toggler-icon"></span>
          </button> 
        </div>
        <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
            <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
              <div class="navbar-collapse-logo">
                <img src="images/Group2.svg" alt="">
              </div>
              <button class="navbar-toggler close-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
              </button>
            </li>
            <li class="nav-item">
              <a class="nav-link">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Meeting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Scheduled</a>  
            </li>
            <li class="nav-item">
              <a class="nav-link" >About</a>
            </li>
            <li class="nav-item btn-contact-us pl-4 pl-lg-0">
              <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)="register()">Register</button>
            </li>
          </ul>
        </div>
      </div> 
      </nav>   
    </header>
    <div class="banner" >
      <div class="container">
        <h1 class="font-weight-semibold">REMINDER</h1>
        <h6 class="font-weight-normal text-muted pb-3">Reminder software is a type of time management computer software that is designed to alert the user of important events that they have input to the program</h6>
        <div>
          <button class="btn btn-opacity-light mr-1" (click)="register()">SIGN UP</button>
          <button class="btn btn-opacity-success ml-1" (click)="login()">LOG IN</button>
        </div>
        <img src="../../assets/images/Group171.svg" alt="" class="img-fluid">
      </div>
    </div>
</body>
